# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Flask database
*.db

# Environment variables
.env

# macOS
.DS_Store

# VS Code settings
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

.env
__pycache__/
*.pyc
venv/